@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}

	p {
		font-size: 18px;
	}
}

.score {
	background: rgb(120, 87, 255);
	background: linear-gradient(
		180deg,
		rgba(120, 87, 255, 1) 0%,
		rgba(46, 43, 233, 1) 73%
	);
}

.circle {
	background: rgb(78, 33, 202);
	background: linear-gradient(
		4deg,
		rgba(78, 33, 202, .2) 17%,
		rgba(36, 33, 202, 1) 73%
	);
}
